<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Multiple Choice Options</h4>
</div>
<div class="modal-body">
    <p>Add the options for your field here.</p>
    <p class="text-warning"><small>When you are done typing an option, just press enter and then add another one.</small></p>
    <input type="text" value="" data-role="tagsinput" class="mcq_options_field"/> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <!-- on clicking this it should also do data-dismiss, and on the nearest piece, it should store the enum options. -->
    <button type="button" class="btn btn-primary mcq_options_confirm">Save changes</button>
</div>