<div class="piece bg-info" data-piece-id="<%= piece_id %>" data-parent-piece-id="<%= parent_piece_id %>" style="padding:20px; margin-top:1px; width:50%;">
	<div class="row">
		<div class="col-xs-2 col-lg-2">
			<!-- field title -->
			<div style="margin-bottom: 10px;">FIELD-NAME</div>
			<input type="text" class="piece_name" style="width:100%;"></input>
			<!-- field description -->
			<div style="margin-top: 20px; margin-bottom:10px;">Description</div>
			<input type="text" class="piece_description" style="width:100%"></input>
		</div>
		<div class="col-xs-6 col-lg-5">
			<div>FIELD-TYPE</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" class="ft_text" value="text_field" checked>
			     Text
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" class="ft_numeric" value="numeric_field">
			    Numeric
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" class="ft_timestamp" value="time_field">
			    TimeStamp
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" class="ft_mcq" value="multiple_choice_field">
			    Multiple-Choice-Options
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" class="ft_array" value="array_field">
			    There will be more than one of this field.
			  </label>
			</div>
		</div>
	</div>
	<div style="margin-bottom:30px"></div>
	
	<button type="button" class="btn btn-primary add_subfield">Add Sub-Field</button>
	<button type="button" class="btn btn-primary add_field_datasource">Add Datasource</button>
	<button type="button" class="btn btn-primary add_field_modules">Add Modules</button>
	<button type="button" class="btn btn-danger remove_field">Remove This Field</button>
	
</div>