// Place all the styles related to the Things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

.thing{
	background-color: #d3f5e1;
	padding:20px;
	margin:20px;
}